<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Users</h3>
            </div>
          </div>
        </div>
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Mobile</th>
              <th scope="col">Email</th>
              <th scope="col" colspan="2">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="isLoadingData; else ShowJobsData">
              <td colspan="7">
                <div class="animated-background"> </div>
              </td>
            </tr>
            <ng-template #ShowJobsData>
              <tr *ngFor="let item of usersData">
                <th> {{item.firstName}} {{item.lastName}} </th>
                <th class="highlight" [routerLink]="[item._id]" style="cursor: pointer;">
                  <a [routerLink]="[item._id]" style="color: inherit !important">{{item.mobile}}</a>
                </th>
                <th> {{item.email}} </th>
                <td>
                  <button *ngIf="!item.isVerified" class="btn btn-success btn-sm u-case"
                    (click)="onPublish(item._id, true)">
                    <i class="fas fa-check-square"></i> Verify
                  </button>
                  <button *ngIf="item.isVerified" class="btn btn-warning btn-sm u-case"
                    (click)="onPublish(item._id, false)">
                    <i class="fas fa-check-square"></i> Disprove
                  </button>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>