<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Applicants</h3>
            </div>
          </div>
        </div>
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Mobile</th>
              <th scope="col">Job</th>
              <th scope="col" colspan="2">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="isLoadingData; else ShowJobsData">
              <td colspan="7">
                <div class="animated-background"> </div>
              </td>
            </tr>
            <ng-template #ShowJobsData>
              <tr *ngFor="let item of usersData">
                <th> {{item.user.firstName}} {{item.user.lastName}} </th>
                <th class="highlight" style="cursor: pointer;" target="_blank">
                  <a href="/users/{{item.user._id}}" style="color: inherit !important" target="_blank">
                    {{item.mobile}}
                    <i class="fas fa-external-link-alt ml-2"></i>
                  </a>
                </th>
                <th class="highlight" style="cursor: pointer;" target="_blank">
                  <a href="/jobs/{{item.job._id}}/view" style="color: inherit !important" target="_blank">
                    {{item.job.company_name}}
                    <i class="fas fa-external-link-alt ml-2"></i>
                  </a>
                </th>
                <td>
                  <button *ngIf="!item.isVerified" class="btn btn-success btn-sm u-case"
                    [routerLink]="[item._id,'manage']" routerLinkActive="router-link-active">
                    Manage
                  </button>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>