<!-- <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <div class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
  </div>
</nav> -->
<nav class="navbar navbar-top navbar-expand-md navbar-dark bg-primary navbar-fixed" id="navbar-main">
  <div class="container-fluid">
    <a class="navbar-brand" style="font-size: .8rem !important;"></a>
    <div class="d-flex">
      <ul class="navbar-nav ml-auto align-items-center d-none d-md-flex">
        <li class="nav-item" ngbDropdown placement="bottom-right">
          <a class="nav-link pr-0" role="button" ngbDropdownToggle>
            <div class="media align-items-center" style="cursor: pointer;">
              <span class="avatar avatar-sm rounded-circle">
                <div id="profileImage">A</div>
              </span>
            </div>
          </a>
          <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu style="margin-left: -140px;">
            <div class=" dropdown-header noti-title">
              <h6 class="text-overflow m-0">Welcome!</h6>
            </div>
            <a routerLink="./" class="dropdown-item" (click)="onLogout()">
              <i class="ni ni-user-run"></i>
              <span>Logout</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>




<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-light bg-light">
        <form (ngSubmit)="onSearch()">
          <ng-template #rt let-r="result" let-t="term">
            <ngb-highlight [result]="r.email" [term]="searchTermModel" (click)="userPage(r.accountId)"></ngb-highlight>
          </ng-template>
          <div class="form-group">
            <input type="text" placeholder="Search" name="search" [(ngModel)]="searchTermModel" [ngbTypeahead]="search"
              [resultTemplate]="rt" />
          </div>
        </form>
      </nav>
    </div>
  </div>
</div> -->