.navbar-top {
    background: none !important;
    padding-top: 1rem !important;
}

.container-fluid {
    display: grid;
    grid-template-columns: max-content max-content;
    /* justify-content: right; */
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02) !important;
    background: white !important;
    width: 94%;
    border-radius: 40px;
    height: 3.5rem;
}

.search {
    display: flex;
    align-items: baseline;
    column-gap: 1rem;
    /* border-bottom: 0.5px solid rgba(128, 128, 128, 0.164); */
}

.search input {
    border: none !important;
    background: transparent !important;
    font-size: 0.8rem;
    margin: 0;
    /* padding-right: 0.5rem; */
}

.search input:focus {
    outline: none !important;
}

/* .container-fluid {
    padding-top: 1rem !important;
}

.navbar {
    background: #ffffff !important;
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02) !important;
    border-radius: 40px;
    height: 3.5rem;
}

.form-group input {
    border: none !important;
    background: transparent !important;
    font-size: 0.8rem;
    margin: 0;
    padding-right: 0.5rem;
}

.form-group input:focus {
    outline: none !important;
} */

#profileImage {
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.avatar {
    background-color: #EF4923 !important
}