<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">User Management</h3>
            </div>
            <div class="col-4 text-right">
              <button class="btn btn-sm btn-primary u-case" (click)="onPopup(CreateUser)">
                <i class="fas fa-plus mr-2"></i> new user
              </button>
            </div>
          </div>
        </div>
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Role</th>
              <th scope="col" colspan="2">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="isLoadingData; else ShowJobsData">
              <td colspan="7">
                <div class="animated-background"> </div>
              </td>
            </tr>
            <ng-template #ShowJobsData>
              <tr *ngFor="let item of usersData">
                <th> {{item.email}} </th>
                <th> {{item.role}} </th>
                <td>
                  <button *ngIf="!item.isBlocked" class="btn btn-success btn-sm u-case"
                    (click)="onPublish(item._id, true)">
                    <i class="fas fa-check-square"></i> Blocked
                  </button>
                  <button *ngIf="item.isBlocked" class="btn btn-warning btn-sm u-case"
                    (click)="onPublish(item._id, false)">
                    <i class="fas fa-check-square"></i> UnBlock
                  </button>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #CreateUser let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create user</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-secondary">
    <form [formGroup]="userForm" (ngSubmit)="onUserCreate()">
      <div class="form-group">
        <label class="required">Email</label>
        <div class="input-group">
          <input class="form-control" placeholder="Enter email" formControlName="email" maxlength="30">
        </div>
      </div>
      <div class="form-group">
        <label class="required">Role</label>
        <div class="input-group">
          <select class="form-control" formControlName="role">
            <option value="HR">HR</option>
            <option value="ADMIN">ADMIN</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="userForm.invalid||isLoading ">
          <span *ngIf="!isLoading">{{edit?'Update':'Submit'}}</span>
          <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
        </button>
        <p class="a-cancel" (click)="modal.dismiss('Cross click')">Cancel</p>
        <p style="display: inline;" class="ml-2 text-danger" *ngIf="errorData.display">
          {{errorData.message}}
        </p>
        <p class="mt-3 text-success" *ngIf="successData.display"> {{successData.message}} </p>
      </div>
    </form>
  </div>
</ng-template>