<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card shadow bg-secondary">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">{{applicantData?.user?.firstName}}</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form class="pl-lg-4" [formGroup]="applicantForm" (ngSubmit)="onFormSubmit()">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label class="form-control-label required">Status</label>
                  <select class="form-control form-control-alternative" formControlName="status">
                    <option>In Progress</option>
                    <option>Not Responding</option>
                    <option>Accepted</option>
                    <option>Rejected</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="form-control-label required">Comments</label>
                  <textarea type="text" class="form-control form-control-alternative" placeholder="Enter comments"
                    formControlName="comments">
                    </textarea>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary" [disabled]="applicantForm.invalid||isLoading">
                    <span *ngIf="!isLoading">{{edit?'Update':'Submit'}}</span>
                    <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
                  </button>
                  <p class="a-cancel" BackButton>Cancel</p>
                  <p style="display: inline;" class="ml-2 text-danger" *ngIf="errorData.display">
                    {{errorData.message}}
                  </p>
                  <p style="display: inline;" class="ml-2 text-success" *ngIf="successData.display">
                    {{successData.message}}
                  </p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>