<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Jobs Category</h3>
            </div>
            <div class="col-4 text-right">
              <button class="btn btn-sm btn-primary u-case" routerLink="create">
                <i class="fas fa-plus mr-2"></i> new category
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="showSaveBTN" class="card-body text-right p-3" style="border-top: 1px solid #c1c1c1;">
          <p class="a-cancel mr-3" (click)="showSaveBTN=!showSaveBTN">Cancel</p>
          <button class="btn btn-sm btn-primary u-case" (click)="onSortData()">Save</button>
        </div>
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col" colspan="2">Name</th>
              <th scope="col" colspan="2">Actions</th>
            </tr>
          </thead>
          <tbody dragula="DCategory" [(dragulaModel)]="languagesData">
            <tr *ngIf="isLoadingData; else ShowCourseData">
              <td colspan="2">
                <div class="animated-background"> </div>
              </td>
            </tr>
            <ng-template #ShowCourseData>
              <tr *ngFor="let item of languagesData">
                <th style="width: 5rem;">
                  <img class="handle mr-2" src="/assets/img/icons/drag-icon.svg" alt="" style="width: 20px;">
                </th>
                <th class="highlight" [routerLink]="[item._id,'update']" style="cursor: pointer;">
                  <img class="mr-2" [src]="item.thumbnail" alt="thumbnail" style="width: 2.5rem !important;">
                  <a [routerLink]="[item._id,'update']" style="color: inherit !important">{{item.name}}</a>
                </th>
                <td>
                  <button *ngIf="!item.publish" class="btn btn-success btn-sm u-case"
                    (click)="onPublish(item._id, true)">
                    <i class="fas fa-check-square"></i> publish
                  </button>
                  <button *ngIf="item.publish" class="btn btn-warning btn-sm u-case"
                    (click)="onPublish(item._id, false)">
                    <i class="fas fa-check-square"></i> unpublish
                  </button>
                  <button class="btn btn-primary btn-sm u-case" [routerLink]="[item._id,'update']">
                    <i class="fa fa-pen mr-1"></i> edit
                  </button>
                  <button class="btn btn-danger btn-sm u-case" (click)="onDelete(item._id)">
                    <i class="fa fa-trash mr-1"></i> delete
                  </button>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #CreateCategory let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create category</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-secondary">
    <form [formGroup]="categoryForm" (ngSubmit)="onCreateTag(categoryForm.value)">
      <div class="form-group">
        <label class="required">Name</label>
        <div class="input-group">
          <input class="form-control" placeholder="Enter category name" formControlName="name" maxlength="30">
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="categoryForm.invalid||isLoading ">
          <span *ngIf="!isLoading">{{edit?'Update':'Submit'}}</span>
          <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
        </button>
        <p class="a-cancel" (click)="modal.dismiss('Cross click')">Cancel</p>
        <p style="display: inline;" class="ml-2 text-danger" *ngIf="errorData.display">
          {{errorData.message}}
        </p>
        <p style="display: inline;" class="ml-2 text-success" *ngIf="successData.display">
          {{successData.message}}
        </p>
      </div>
    </form>
  </div>
</ng-template>