.nav-link {
    padding: 0.65rem 1.5rem;
    font-size: .9375rem;
    cursor: pointer;
}

.nav-item :hover {
    background-color: #5e72e43f !important;
    border-radius: 0.375rem;
}

.nav-item-active {
    background-color: #5e72e4 !important;
    border-radius: 0.375rem;
}

.nav-item-active a {
    color: #ffffff !important;
}

.border-bottom {
    border-bottom: 2px solid #000000;
}

.border-top {
    border-top: 2px solid #000000;
}

.usages-main-container {
    padding-bottom: 1.875rem;
    border-bottom: 1px solid #E9BEB3;
}

.usages-main-container .usage-head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.usages-main-container .usage-head h2 {
    font-size: 1.5rem;
    color: #000;
    font-weight: 400;
}

.usages-main-container .usage-head .addon-buy {
    position: relative;
}

.usages-main-container .service-usage-container {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
}

.usages-main-container .service-usage-container .service-usage div {
    display: grid;
    grid-template-columns: 50% 50%;
}

.usages-main-container .service-usage-container .service-usage .sub-head-color {
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 0.75rem;
}

.usages-main-container .service-usage-container .service-usage .sub-head-color p {
    color: #5e72e4;
    margin-bottom: 0.25rem;
}

.usages-main-container .service-usage-container .service-usage .sub-2-head-color p {
    font-size: 0.75rem;
    color: #5e72e4;
}

.usages-main-container .service-usage-container .service-usage .sub-2-head-color p:not(:first-child) {
    text-align: center;
}

.usages-main-container .service-usage-container .service-usage .three-colum {
    grid-template-columns: 40% 30% 30%;
}

.usages-main-container .service-usage-container .service-usage .per-service-data p:not(:first-child) {
    text-align: center;
}

p {
    font-size: .9rem;
    margin: 0px !important;
    line-height: 1.5rem !important;
}

tr:hover {
    background-color: #f5f5f5;
}

tr:hover .highlight {
    color: #3367d6;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }

    100% {
        background-position: 468px 0
    }
}

.linear-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 1000px 104px;
    height: 100px;
    position: relative;
    overflow: hidden;
}

.inter-top-1 {
    background: #FFF;
    width: 100%;
    height: 20px;
    position: absolute;
    top: 20px;
}

.inter-top-2 {
    background: #FFF;
    width: 100%;
    height: 20px;
    position: absolute;
    top: 60px;
}

.inter-top-3 {
    background: #FFF;
    width: 100%;
    height: 20px;
    position: absolute;
    top: 100px;
}

.inter-right-1 {
    background: #FFF;
    width: 100%;
    height: 20px;
    position: absolute;
    top: 40px;
    margin-left: 80%;
}

.inter-right-2 {
    background: #FFF;
    width: 100%;
    height: 20px;
    position: absolute;
    top: 80px;
    margin-left: 85%;
}

.note {
    font-size: 12px;
    font-style: italic;
}