<div class="container-fluid mb-5">
  <div class="row mt-4">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h6 class="heading-small text-muted">User Details </h6>
          <hr style="margin-top: .1rem !important;margin-bottom: 1.5rem !important">
          <div class="table-responsive">
            <table class="table mt-2">
              <thead class="thead-light">
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Mobile Number</th>
                </tr>
              </thead>
              <tr *ngIf="isLoadingData; else ShowData">
                <td colspan="6">
                  <div class="animated-background"> </div>
                </td>
              </tr>
              <ng-template #ShowData>
                <tr style="background-color: #ffffff;">
                  <td>{{userData?.firstName}} {{userData?.lastName}}</td>
                  <td>{{userData?.email||'-'}}</td>
                  <td>{{userData?.mobile||'-'}}</td>
                </tr>
              </ng-template>
            </table>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-3">
          <div class="card" style="padding:0 !important">
            <div class="card-body" style="padding:0 !important">
              <ul class="navbar-nav">
                <li class="nav-item border-bottom" [ngClass]="{'nav-item-active': currentRoute==1}"
                  (click)="currentRoute=1;">
                  <a class="nav-link"> Education Details </a>
                </li>
                <li class="nav-item border-bottom" [ngClass]="{'nav-item-active': currentRoute==2}"
                  (click)="currentRoute=2;">
                  <a class="nav-link"> Professional Details </a>
                </li>
                <li class="nav-item border-bottom" [ngClass]="{'nav-item-active': currentRoute==3}"
                  (click)="currentRoute=3;">
                  <a class="nav-link"> Location Details </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-9">
          <div class="card">
            <div class="card-body" *ngIf="currentRoute == 1">
              <h6 class="heading-small text-muted">Education Details</h6>
              <hr style="margin-top: .1rem !important;margin-bottom: 1.5rem !important">
              <table class="table mt-2">
                <thead class="thead-light">
                  <tr>
                    <th>Class</th>
                    <th>Specializaation</th>
                  </tr>
                </thead>
                <tbody>
                  <tr style="background-color: #ffffff;">
                    <td>{{userData.education?.class}}</td>
                    <td>{{userData.education?.specialization}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-body" *ngIf="currentRoute == 2">
              <h6 class="heading-small text-muted">Professional Details </h6>
              <hr style="margin-top: .1rem !important;margin-bottom: 1.5rem !important">
              <table class="table mt-2">
                <thead class="thead-light">
                  <tr>
                    <th>Company</th>
                    <th>Designation</th>
                    <th>Experience</th>
                    <th>Interests</th>
                  </tr>
                </thead>
                <tbody>
                  <tr style="background-color: #ffffff;">
                    <td>{{userData.professional?.company}}</td>
                    <td>{{userData.professional?.designation}}</td>
                    <td>{{userData.professional?.experience}}</td>
                    <td>{{userData.professional?.interests}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-body" *ngIf="currentRoute == 3">
              <h6 class="heading-small text-muted">Location Details</h6>
              <hr style="margin-top: .1rem !important;margin-bottom: 1.5rem !important">
              <table class="table mt-2">
                <thead class="thead-light">
                  <tr>
                    <th>Current</th>
                    <th>Preferred</th>
                  </tr>
                </thead>
                <tbody>
                  <tr style="background-color: #ffffff;">
                    <td>{{userData.professional?.current}}</td>
                    <td>{{userData.professional?.preferred}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>