<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card shadow bg-secondary">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Create Job Category</h3>
            </div>
            <div class="col-4 text-right">
              <button class="btn btn-sm btn-primary u-case" BackButton> back</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="pl-lg-4 text-center loading-spinner" *ngIf="isLoadingData else onLoaded">Loading</p>
          <ng-template #onLoaded>
            <form [formGroup]="categoryForm" (ngSubmit)="onCreateTag(categoryForm.value)">
              <div class="row">
                <div class="col-lg-8 col-sm-12 col-md-8">
                  <div class="card card-body h-100 justify-content-center">
                    <div class="form-group">
                      <label class="required">Name</label>
                      <div class="input-group">
                        <input class="form-control" placeholder="Enter category name" formControlName="name"
                          maxlength="30">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-control-label float-left">Thumbnail</label>
                      <input type="file" formControlName="thumbnail" class="form-control form-control-alternative"
                        (change)="onFileSelect($event.target)" #file>
                    </div>
                    <div class="form-group">
                      <button class="btn btn-primary" [disabled]="categoryForm.invalid||isLoading ">
                        <span *ngIf="!isLoading">{{edit?'Update':'Submit'}}</span>
                        <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
                      </button>
                      <p class="a-cancel">Cancel</p>
                      <p style="display: inline;" class="ml-2 text-danger" *ngIf="errorData.display">
                        {{errorData.message}}
                      </p>
                      <p style="display: inline;" class="ml-2 text-success" *ngIf="successData.display">
                        {{successData.message}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-md-4">
                  <div class="card card-body h-100 justify-content-center text-center">
                    <img class="image-preview" *ngIf="imagePreview else ImageIcon" [src]="imagePreview" alt="preview">
                    <ng-template #ImageIcon>
                      <i class="fas fa-image"></i>
                    </ng-template>
                  </div>
                </div>
              </div>
            </form>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>