<nav aria-label="page navigation example">
  <ul class="pagination justify-content-end" style="margin: 0px !important">
    <li class="page-item" (click)="onClickPage(activePage - 1)">
      <a class="page-link">
        <i class="fa fa-angle-left"></i>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item active" [ngClass]="{'active': activePage === item['value']}" *ngFor="let item of pages"
      (click)="onClickPage(item['value'])">
      <a class="page-link">{{item['label']}}</a>
    </li>
    <li class="page-item" (click)="onClickPage(activePage + 1)">
      <a class="page-link">
        <i class="fa fa-angle-right"></i>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>