<!-- Sidenav -->
<app-sidebar></app-sidebar>
<div class="main-content">
  <!-- Top navbar -->
  <app-navbar></app-navbar>
  <!-- Pages -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <!-- <div class="container-fluid">
    <app-footer></app-footer>
  </div> -->
</div>