<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Jobs</h3>
            </div>
            <div class="col-4 text-right">
              <button class="btn btn-sm btn-primary" BackButton>Back</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="pl-lg-4 text-center loading-spinner" *ngIf="isLoadingData else onLoaded">Loading</p>
          <ng-template #onLoaded>
            <form class="pl-lg-4" [formGroup]="jobsForm" (ngSubmit)="onFormSubmit()">
              <div class="row">
                <div class="col-lg-8 col-sm-12 col-md-8">
                  <div class="card card-body h-100 justify-content-center">
                    <div class="form-group">
                      <label class="form-control-label required">Job Id</label>
                      <input type="text"
                        [ngClass]="edit ? 'form-control form-control-alternative' : 'form-control-plaintext'"
                        placeholder="Enter job id" formControlName="job_id" [readonly]="!edit">
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label class="form-control-label required">Company Name</label>
                          <input type="text"
                            [ngClass]=" edit ? 'form-control form-control-alternative': 'form-control-plaintext'"
                            placeholder="Enter company name" formControlName="company_name" [readonly]="!edit">
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label class="form-control-label required">Company Location</label>
                          <input type="text"
                            [ngClass]=" edit ? 'form-control form-control-alternative': 'form-control-plaintext'"
                            placeholder="Enter company location" formControlName="company_location" [readonly]="!edit">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label class="form-control-label required">Minimum Qualification</label>
                          <input type="text"
                            [ngClass]=" edit ? 'form-control form-control-alternative': 'form-control-plaintext'"
                            placeholder="Enter minimum qualification" formControlName="minimum_qualification"
                            [readonly]="!edit">
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label class="form-control-label required">Job Experience</label>
                          <input type="text"
                            [ngClass]=" edit ? 'form-control form-control-alternative': 'form-control-plaintext'"
                            placeholder="Enter job experience" formControlName="job_experience" [readonly]="!edit">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-control-label required">Job Profile</label>
                      <input type="text"
                        [ngClass]=" edit ? 'form-control form-control-alternative': 'form-control-plaintext'"
                        placeholder="Enter job profile" formControlName="job_profile" [readonly]="!edit">
                    </div>
                    <div class="form-group">
                      <label class="form-control-label required">Category</label>
                      <div class="animated-background" *ngIf="isLoadingCategory else creatorsLoaded"> </div>
                      <ng-template #creatorsLoaded>
                        <select [ngClass]=" edit ? 'form-control form-control-alternative': 'form-control-plaintext'"
                          formControlName="category">
                          <option [value]="item._id" *ngFor="let item of categories" [disabled]="!edit">{{item.name}}
                          </option>
                        </select>
                      </ng-template>
                    </div>
                    <div class="form-group">
                      <label class="form-control-label required">Job Description</label>
                      <textarea type="text"
                        [ngClass]=" edit ? 'form-control form-control-alternative': 'form-control-plaintext'"
                        placeholder="Enter job description" formControlName="job_description" [readonly]="!edit">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="edit">
                      <button class="btn btn-primary" [disabled]="jobsForm.invalid||isLoading">
                        <span *ngIf="!isLoading">{{edit?'Update':'Submit'}}</span>
                        <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
                      </button>
                      <p class="a-cancel" BackButton>Cancel</p>
                      <p style="display: inline;" class="ml-2 text-danger" *ngIf="errorData.display">
                        {{errorData.message}}
                      </p>
                      <p style="display: inline;" class="ml-2 text-success" *ngIf="successData.display">
                        {{successData.message}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-md-4">
                  <div class="card card-body h-100 justify-content-center text-center">
                    <img class="image-preview" *ngIf="imagePreview else ImageIcon" [src]="imagePreview" alt="preview">
                    <ng-template #ImageIcon>
                      <i class="fas fa-image"></i>
                    </ng-template>
                    <div class="form-group mt-5" *ngIf="edit">
                      <label class="form-control-label float-left required">Company Logo</label>
                      <input type="file" formControlName="company_logo" class="form-control form-control-alternative"
                        (change)="onFileSelect($event.target)">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>