<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">{{ languageData.name | uppercase }}</h3>
            </div>
            <div class="col-4 text-right">
              <button class="btn btn-sm btn-primary u-case" BackButton> back</button>
              <button class="btn btn-sm btn-primary u-case" (click)="onPopup(CreateTags)">
                <i class="fas fa-plus mr-2"></i> new data
              </button>
            </div>
          </div>
        </div>
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Key</th>
              <th scope="col">Value</th>
              <th scope="col" colspan="2">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="isLoadingData; else ShowCourseData">
              <td colspan="2">
                <div class="animated-background"> </div>
              </td>
            </tr>
            <ng-template #ShowCourseData>
              <tr *ngFor="let item of languagesData">
                <th> {{item.key}} </th>
                <th>
                  <span *ngIf="!item.isArray">{{item.value}}</span>
                  <span *ngIf="item.isArray">
                    <a [routerLink]="[item._id, 'data']">Multi Value</a>
                  </span>
                </th>
                <td>
                  <button class="btn btn-primary btn-sm u-case" (click)="onEdit(item, CreateTags)">
                    <i class="fa fa-pen mr-1"></i> edit
                  </button>
                  <button class="btn btn-danger btn-sm u-case" (click)="onDelete(item._id)">
                    <i class="fa fa-trash mr-1"></i> delete
                  </button>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
        <div class="card-footer py-4">
          <app-pagination (onPageChange)="onPageChange($event)" [totalRecords]="totalCount"
            [recordsPerPage]="paginationData.pageSize">
          </app-pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #CreateTags let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Data</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-secondary">
    <form [formGroup]="languageForm" (ngSubmit)="onCreateTag(languageForm.value)">
      <div class="form-group">
        <label class="required">Key</label>
        <div class="input-group">
          <input class="form-control" formControlName="key" placeholder="Enter key">
        </div>
      </div>
      <label>Multi value</label>
      <div class="form-group mb-1">
        <label class="custom-toggle">
          <input type="checkbox" formControlName="isArray" (change)="onValueTypeToggle()">
          <span class="custom-toggle-slider rounded-circle"></span>
        </label>
      </div>
      <ng-container *ngIf="languageForm.value.isArray">
        <div formArrayName="value">
          <div class="mb-3 bg-secondary">
            <div class="row">
              <div class="col text-right">
                <button class="btn btn-sm btn-primary u-case" type="button" (click)="onAddKV()">
                  <i class="fas fa-plus mr-2"></i> Add More
                </button>
              </div>
            </div>
            <div class="p-3 mt-3 bg-white content-border" *ngFor="let v of valueArray.controls; let i=index"
              [formGroupName]="i">
              <a class="card-close" (click)="onRemoveKV(i)">
                <i class="fa fa-times-circle text-danger"></i>
              </a>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label class="required">Key</label>
                    <div class="input-group">
                      <input class="form-control" formControlName="key" placeholder="Enter key">
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label class="required">Value</label>
                    <div class="input-group">
                      <input class="form-control" formControlName="value" placeholder="Enter value">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!languageForm.value.isArray">
        <div class="form-group">
          <label class="required">Value</label>
          <div class="input-group">
            <input class="form-control" formControlName="value" placeholder="Enter value">
          </div>
        </div>
      </ng-container>
      <button class="btn btn-primary" [disabled]="languageForm.invalid||isLoading ">
        <span *ngIf="!isLoading">{{edit?'Update':'Submit'}}</span>
        <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
      </button>
      <p class="a-cancel" (click)="modal.dismiss('Cross click')">Cancel</p>
      <p style="display: inline;" class="ml-2 text-danger" *ngIf="errorData.display">
        {{errorData.message}}
      </p>
      <p style="display: inline;" class="ml-2 text-success" *ngIf="successData.display">
        {{successData.message}}
      </p>
    </form>
  </div>
</ng-template>