.sidebar-footer {
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0;
    list-style-type: none;
    padding-bottom: 5.5em;
}

/* .navbar-vertical.navbar-expand-md .navbar-nav .nav-link.active:before {
    border-left: 4px solid;
} */

/* .navbar-vertical {
    background: #2c0069 !important;
} */

/* .nav-item a:hover, .nav-link.active {
    background: cornflowerblue;
    background: #2c0069 !important;
    color: white !important; */

/* border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem; */

/* } */

.logo-container {
    background: #ffffff;
    width: 100%;
    height: 3.5rem;
    /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.2), inset 0 -1px 0 0 #000000; */
    border-radius: 8px;
    padding: 0.35rem 0.85rem;
    position: relative;
    width: 14.5rem;
    left: -1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: max-content 1fr;
    place-items: center;
    /* column-gap: 0.14rem; */
}

.grid-container p {
    font-size: 1rem;
    color: #000000;
    font-weight: 500;
    margin: 0;
}

.grid-container img {
    width: 2rem;
}

.grid-text-container {
    justify-items: start;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.grid-text-container .main-text {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 0.5rem;
}

.grid-text-container .main-text p:nth-child(1) {
    font-size: 0.58rem;
    font-weight: 600;
}

.grid-text-container .main-text p:nth-child(2) {
    background: #ffb428;
    color: #000000;
    margin: 0;
    display: inline-table;
    border-radius: 1px;
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
}

.sub-text {
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 0px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.navbar-bg {
    background-image: url('/assets/img/theme/nav-bg.png');
}

.nav-active {
    background: linear-gradient(90deg, rgb(240, 119, 36) 5%, rgb(0 0 0 / 30%) 0%);
    color: #ffffff !important;
    align-items: center;
    border-radius: 0.3rem;
}

.nav-item {
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 0.3rem;
}

.nav-item :hover {
    background-color: #a83f28;
    color: #ffffff !important;
    align-items: center;
    border-radius: 0.3rem;
}

.nav-dropdown-item {
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 0.3rem;
}

.bg-shadow {
    -webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 40, .08), 6px 0 10px 0 rgba(0, 0, 40, .08) !important;
    box-shadow: 1px 0 2px 0 rgba(0, 0, 40, .08), 6px 0 10px 0 rgba(0, 0, 40, .08) !important;
}

.nav-link {
    text-transform: uppercase;
    font-size: 13px !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.nav-top-border {
    margin-top: 15px;
    border-top: 1px solid #caccd6;
}

.nav-bg {
    background-color: #47143D !important;
}

.pl-2-75 {
    padding-left: 2.75rem;
}