<nav class="navbar navbar-vertical navbar-expand-md navbar-light nav-bg bg-shadow" id="sidenav-main">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
      aria-controls="sidenav-collapse-main">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand">
      <p class="sub-text">call for jobs</p>
    </div>
    <ul class="nav align-items-center d-md-none">
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link" role="button" ngbDropdownToggle>
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img alt="Image placeholder" src="./assets/img/theme/user.jpg">
            </span>
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">Welcome!</h6>
          </div>
          <div class="dropdown-divider"></div>
          <a href="#!" class="dropdown-item">
            <i class="ni ni-user-run"></i>
            <span>Logout</span>
          </a>
        </div>
      </li>
    </ul>
    <div class="collapse navbar-collapse nav-top-border" [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a routerLinkActive="nav-active" [routerLink]="['/dashboard']">
              <p class="sub-text">call for jobs</p>
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav mt-3">
        <li *ngFor="let menuItem of menuItems" class="nav-item">
          <a routerLinkActive="nav-active" [routerLink]="[menuItem.path]" class="nav-link">
            <i class="ni {{menuItem.icon}}"></i>
            {{menuItem.title}}
          </a>
        </li>
        <li class="nav-dropdown-item">
          <a class="nav-link" routerLink="./" (click)="onNavToggle('jobs-nav')" aria-expanded="true"
            data-toggle="collapse" role="button">
            <i class="fas fa-briefcase"></i> Jobs
          </a>
          <div class="collapse" id="jobs-nav">
            <ul class="nav nav-sm flex-column">
              <li class="nav-item">
                <a routerLink="/jobs" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}"
                  class="nav-link pl-2-75">
                  <i class="fas fa-briefcase"></i> Jobs
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/jobs/category" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}"
                  class="nav-link pl-2-75">
                  <i class="ni ni-bullet-list-67"></i> Category
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/jobs/applicants" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}"
                  class="nav-link pl-2-75">
                  <i class="fas fa-pen-nib"></i> Applicants
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>