<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Jobs</h3>
            </div>
            <div class="col-4 text-right">
              <button class="btn btn-sm btn-primary u-case" routerLink="create">
                <i class="fas fa-plus mr-2"></i> new job
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="showSaveBTN" class="card-body text-right p-3" style="border-top: 1px solid #c1c1c1;">
          <p class="a-cancel mr-3" (click)="showSaveBTN=!showSaveBTN">Cancel</p>
          <button class="btn btn-sm btn-primary u-case" (click)="onSortData()">Save</button>
        </div>
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Job Id</th>
              <th scope="col">Company Name</th>
              <th scope="col">Description</th>
              <th scope="col">Location</th>
              <th scope="col">Experience</th>
              <th scope="col">Qualification</th>
              <th scope="col" colspan="2">Actions</th>
            </tr>
          </thead>
          <tbody dragula="JTags" [(dragulaModel)]="jobsData">
            <tr *ngIf="isLoadingData; else ShowJobsData">
              <td colspan="7">
                <div class="animated-background"> </div>
              </td>
            </tr>
            <ng-template #ShowJobsData>
              <tr *ngFor="let item of jobsData">
                <th class="highlight">
                  <img class="handle mr-2" src="/assets/img/icons/drag-icon.svg" alt="" style="width: 20px;">
                  {{item.job_id}}
                </th>
                <th class="highlight" [routerLink]="[item._id]" style="cursor: pointer;">
                  <img class="mr-2" [src]="item.company_logo" alt="thumbnail" style="width: 2.5rem !important;">
                  <a [routerLink]="[item._id]" style="color: inherit !important">{{item.company_name}}</a>
                </th>
                <td style="white-space: pre-wrap">{{item.job_description}}</td>
                <td>{{item.company_location}}</td>
                <td>{{item.job_experience}}</td>
                <td>{{item.minimum_qualification}}</td>
                <td>
                  <button *ngIf="!item.publish" class="btn btn-success btn-sm u-case"
                    (click)="onPublish(item._id, true)">
                    <i class="fas fa-check-square"></i> publish
                  </button>
                  <button *ngIf="item.publish" class="btn btn-warning btn-sm u-case"
                    (click)="onPublish(item._id, false)">
                    <i class="fas fa-check-square"></i> unpublish
                  </button>
                  <button class="btn btn-primary btn-sm u-case" [routerLink]="[item._id, 'update']">
                    <i class="fa fa-pen mr-1"></i> edit
                  </button>
                  <button class="btn btn-danger btn-sm u-case" (click)="onDelete(item._id)">
                    <i class="fa fa-trash mr-1"></i> delete
                  </button>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>