<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">{{ languageInfoData.name | uppercase }} > {{ languagesData.key | uppercase }}</h3>
            </div>
            <div class="col-4 text-right">
              <button class="btn btn-sm btn-primary u-case" BackButton> back</button>
              <button class="btn btn-sm btn-primary u-case" (click)="onPopup(CreateTags)">
                <i class="fas fa-plus mr-2"></i> new data
              </button>
            </div>
          </div>
        </div>
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Key</th>
              <th scope="col">Value</th>
              <th scope="col" colspan="2">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="isLoadingData; else ShowCourseData">
              <td colspan="2">
                <div class="animated-background"> </div>
              </td>
            </tr>
            <ng-template #ShowCourseData>
              <tr *ngFor="let item of languagesData.value; let i = index">
                <th> {{item.key}} </th>
                <th> {{item.value}} </th>
                <td>
                  <button class="btn btn-primary btn-sm u-case" (click)="onEdit(item, CreateTags, i)">
                    <i class="fa fa-pen mr-1"></i> edit
                  </button>
                  <button class="btn btn-danger btn-sm u-case" (click)="onDelete(i)">
                    <i class="fa fa-trash mr-1"></i> delete
                  </button>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #CreateTags let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create language</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-secondary">
    <form [formGroup]="languageForm" (ngSubmit)="onCreateTag(languageForm.value)">
      <div class="form-group">
        <label class="required">Key</label>
        <div class="input-group">
          <input class="form-control" placeholder="Enter key" formControlName="key">
        </div>
      </div>
      <div class="form-group">
        <label class="required">Value</label>
        <div class="input-group">
          <input class="form-control" placeholder="Enter value" formControlName="value">
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="languageForm.invalid||isLoading ">
          <span *ngIf="!isLoading">{{edit?'Update':'Submit'}}</span>
          <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
        </button>
        <p class="a-cancel" (click)="modal.dismiss('Cross click')">Cancel</p>
        <p style="display: inline;" class="ml-2 text-danger" *ngIf="errorData.display">
          {{errorData.message}}
        </p>
        <p style="display: inline;" class="ml-2 text-success" *ngIf="successData.display">
          {{successData.message}}
        </p>
      </div>
    </form>
  </div>
</ng-template>