/* You can add global styles to this file, and also import other style files */

/* @import '~ngx-toastr/toastr.css'; */

.table td {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem !important;
}

.modal-content {
    animation-name: scaleForward;
    animation-duration: 0.3s;
}

@keyframes scaleForward {
    0% {
        transform: scale(.85);
    }

    100% {
        transform: scale(1);
    }
}

::ng-deep .dropdown-btn {
    background-color: #ffffff !important;
}

body {
    background-color: #EAEAF4 !important;
}

.a-cancel {
    margin-left: 10px;
    display: inline;
    cursor: pointer;
}

.image-preview {
    width: 100%;
}

.fa-image {
    font-size: 100px;
    border: 1px #8898aa dashed;
    border-radius: 5px;
    padding: 50px;
}

tr:hover {
    background-color: #f5f5f5;
}

tr:hover .highlight {
    color: #3367d6;
}

.course-thumbnail {
    width: 80px;
    height: 50px;
    border-radius: 5px;
    margin-right: 15px;
    object-fit: cover;
}

.course-creator-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 250px;
    margin-right: 15px;
    object-fit: cover;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }

    100% {
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 45px;
    border-radius: 6px;
    position: relative;
}

.loading-spinner:after {
    content: '.';
    animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
    0%, 20% {
        color: rgba(0, 0, 0, 0);
        text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
    }

    40% {
        color: rgb(0, 0, 0);
        text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
    }

    60% {
        text-shadow: .25em 0 0 rgb(0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
    }

    80%, 100% {
        text-shadow: .25em 0 0 rgb(0, 0, 0), .5em 0 0 rgb(0, 0, 0);
    }
}

.w-100-p {
    width: 100%;
}

.u-case {
    text-transform: uppercase !important;
}

::ng-deep .multiselect-dropdown {
    box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%) !important;
}

::ng-deep .dropdown-btn {
    border: none !important;
}

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
}

.gu-hide {
    left: -9999px !important;
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}

.handle:hover {
    cursor: move;
}

.required:after {
    content: " *";
    color: #dc3545 !important;
}

.max-input {
    font-size: 12px;
    color: #7d7d7d;
    float: right;
}

.pointer {
    cursor: pointer;
}