<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Dashboard</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-sm-12">
                            <div class="card card-stats mb-4 mb-xl-0">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">
                                                Total Applicants
                                            </h5>
                                            <i *ngIf="isLoadingData else LoadedOne" class="fa fa-spinner fa-spin"></i>
                                            <ng-template #LoadedOne>
                                                <span class="h2 font-weight-bold mb-0">
                                                    {{analyticsData?.profiles || 0}}
                                                </span>
                                            </ng-template>
                                        </div>
                                        <div class="col-auto">
                                            <div class="icon icon-shape bg-danger text-white rounded-circle shadow"><i
                                                    class="fas fa-chart-bar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-sm-12">
                            <div class="card card-stats mb-4 mb-xl-0">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">
                                                Applicants Accepted
                                            </h5>
                                            <i *ngIf="isLoadingData else LoadedTwo" class="fa fa-spinner fa-spin"></i>
                                            <ng-template #LoadedTwo>
                                                <span class="h2 font-weight-bold mb-0">
                                                    {{analyticsData?.completeProfiles || 0}}
                                                </span>
                                            </ng-template>
                                        </div>
                                        <div class="col-auto">
                                            <div class="icon icon-shape bg-warning text-white rounded-circle shadow"><i
                                                    class="fas fa-chart-pie"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-sm-12">
                            <div class="card card-stats mb-4 mb-xl-0">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">
                                                Applicants Rejected
                                            </h5>
                                            <i *ngIf="isLoadingData else LoadedThree" class="fa fa-spinner fa-spin"></i>
                                            <ng-template #LoadedThree>
                                                <span class="h2 font-weight-bold mb-0">
                                                    {{analyticsData?.portfolio || 0}}
                                                </span>
                                            </ng-template>
                                        </div>
                                        <div class="col-auto">
                                            <div class="icon icon-shape bg-warning text-white rounded-circle shadow"><i
                                                    class="fas fa-chart-pie"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <canvas id="one" height="200" width="300"></canvas>
                        </div>
                        <div class="col-6">
                            <canvas id="two" height="200" width="300"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>