<section class="vertical-center" id="about">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <img class="home-brand" src="assets/img/brand/logo.webp" />
                <p> Stand out from the Crowd </p>
                <button class="main-button" (click)="onPopup(LoginPopup)" [disabled]="isLoading">
                    <span *ngIf="!isLoading">Sign In</span>
                    <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i></button>
            </div>
        </div>
    </div>
</section>

<ng-template #LoginPopup let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Login</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body bg-secondary">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="form-group">
                <label class="required">Email</label>
                <div class="input-group">
                    <input class="form-control" placeholder="Enter email" formControlName="email" maxlength="30">
                </div>
            </div>
            <div class="form-group">
                <label class="required">Password</label>
                <div class="input-group">
                    <input class="form-control" placeholder="Enter password" formControlName="password" maxlength="30">
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" [disabled]="loginForm.invalid||isLoading ">
                    <span *ngIf="!isLoading">Submit</span>
                    <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
                </button>
                <p style="display: inline;" class="ml-2 text-danger" *ngIf="errorData.display">
                    {{errorData.message}}
                </p>
            </div>
        </form>
    </div>
</ng-template>